services:
  api:
    container_name: api-clean-architecture
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3001:3000
    depends_on:
      - mysql
      - redis
    networks:
      - api-networks
    env_file:
      - .env

  mysql:
    container_name: mysql
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=superuser
    volumes:
      - data_mysql:/var/lib/mysql
    networks:
      - api-networks

  redis:
    container_name: redis
    image: redis:8.2.1
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 512M
        reservations:
          cpus: "0.5"
          memory: 256M
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      - api-networks

volumes:
  data_mysql:

networks:
  api-networks:
    driver: bridge
